.button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: transparent;
    -fx-border-color: red;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-padding: 0px;
}
.button:hover{
    -fx-text-fill: yellow;
}
.button:pressed{
    -fx-text-fill: black;
}